<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/lib/css/bootstrap.css">
    <script src="/admin/lib/js/bootstrap.bundle.js"></script>
    <!-- <link rel="stylesheet" href="index.css"> -->
</head>
<body style="background-color: rgba(0, 0, 0, .4);">
    <div class="container">
        <form id="addUserForm" class="my-5 mx-auto bg-light p-2" style="width: 600px;">
            <h3 class="w-100 text-center">云游注册</h3>
            <div class="mb-3">
                <label for="username" class="form-label">用户名</label>
                <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                    required>

            </div>
            <div class="mb-3">
                <label for="password" class="form-label">密码</label>
                <input type="password" class="form-control" id="password" required>
            </div>
            <div class="mb-3">
                <label for="introduction" class="form-label">个人简介</label>
                <textarea class="form-control" id="introduction"  rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="photofile" class="form-label">头像</label>
                <input type="file" class="form-control" id="photofile" 
                required>

            </div>
            <button type="submit" class="btn btn-primary">提交</button>

           
        </form>

        <div class="modal" id="defintionModal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">提示信息</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <p class="text-danger">该用户名已被占用！点击关闭</p>
                </div>
              </div>
            </div>
          </div>
        
    </div>
    <script src="index.js"></script>
</body>
</html>